## Sametime user status
## Usage: {im:user|service=sametime}
## STLinks toolkit must be installed on your Sametime server and administrator must configure Sametime for anonymous access
## Doesn't work in Firefox, ok under IE
## Reference is Instant Messaging and Web Conferencing Links Toolkit - Developer's Guide and Reference
## Applet lets a click start a anonymous chat with user
## Modify server to point to your sametime server

#requireResource("confluence.extra.impresence2:sametime-resources")

#set ($path   = "http://$server/sametime/stlinks")
#set ($lang   = "en")

<div class="sametime-container">
    <input type="hidden" name="sametimeUserId" value="$user">
    <input type="hidden" name="sametimePath" value="$path">
    <input type="hidden" name="sametimeLang" value="$lang">

    <link rel=stylesheet href="$path/stlinks.css" type="text/css">
    <script src="$path/stlinks.js"> </script>
</div>
